.container {
    background-image: url(../images/spider-man-miles-morales.png);
    background-repeat: no-repeat;
    background-position: right -30rem top;
}

@media (min-width: 1920px) {
    .container {
        background-image: url(../images/spider-man-miles-morales.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        min-height: 100vh;
    }
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    background: rgba(29, 29, 29, 0.5);
}

@media (min-width: 1920px) {
    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15rem;
    }
    
    .nav-menu__nav-list-container {
        position: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        top: 0;
        color: white;
        font-size: 2.5rem;
        font-weight: 400;
        background: none;
        transition: 0.4s;
    }
}


.trailer {
    height: 80vh;
}

@media (min-width: 2400px) {
    .trailer {
        height: 100vh
    }

}

.nav-social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: rgba(29, 29, 29, 0.63);
}

.nav-social-media__list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 37px;
}